
.form__input {
  max-width: 160px;
  background-color: rgb(229, 248, 251);
  color: #455b65;
  border: 1px dotted #455b65;
  border-radius: 5px;
}

.form__select {
  border-radius: 5px;
  background-color: rgb(229, 248, 251);
  text-align: center;
}