.form {
  margin: 50px auto;
  padding-top: 100px
}

.form__fieldset {
  margin: 0 auto;
  padding: 10px;
  max-width: 80%;
  color: #455b65;
  background-color: whitesmoke;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 17px -3px #394660;
}

.form__legend {
  color: #455b65;
  background-color: whitesmoke;
  padding: 5px;
  border-radius: 10px;
  font-size: 30px;
  margin: 0 auto;
  box-shadow: 0px 0px 17px -3px #394660;
}

.form__container {
  padding: 10px;
}

.form__listHeader {
  margin: 15px;
  padding: 10px;
}

.form__input {
  max-width: 150px;
  background-color: rgb(229, 248, 251);
  color: #455b65;
  border: 1px dotted #455b65;
  border-radius: 5px;
}

.form__select {
  border-radius: 4px;
  background-color: rgb(229, 248, 251);
  text-align: center;
}

.form__buttonContainer {
  display: flex;
  justify-content: center;
}

.form__button {
  width: 200px;
  padding: 5px;
  color: #461d1d;
  background-color: rgb(36, 209, 209);
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 4px -3px #394660;
  font-weight: 700;
}

.form__button:hover {
  background-color: rgb(40, 190, 209);
  box-shadow: 2px 2px 22px 1px rgba(40, 189, 209, 0.082);
  transition: 0.3s;
}

.form__button:active {
  background-color: rgb(36, 175, 209)
}

.form__result {
  display: flex;
  justify-content: center;
}

@media(max-width: 560px) {

  .form__container {
    display: grid;
  }

  .form__listHeader {
    margin: 0 auto;
  }

  .form__result {
    margin: 0;
  }

  .form__input {
    margin: 0 auto;
  }

  .form__select {
    text-align: center;
  }
}

@media(max-width: 400px) {
  .form {
    margin: 0;
    padding-top: 50px;
  }
}