.button {
    width: 120px;
    margin-left: 15px;
    padding: 5px;
    color: #5d2c2c;
    background-color: rgb(36, 209, 209);
    border: none;
    border-radius: 4px;
    box-shadow: 0px 0px 2px -1px #394660;
}