.button {
    width: 100%;
    margin: 0 auto;
    padding: 5px;
    color: #461d1d;
    background-color: rgb(36, 209, 209);
    border: none;
    border-radius: 4px;
    box-shadow: 2px 2px 4px -3px #394660;
}