html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
    color: rgb(54, 42, 63);
  font-family: 'Noto Sans Nag Mundari', sans-serif;
  background-image: url(../img/Cash1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}